.banner {
  /* background-image: linear-gradient(to right, #635dc0, #3027ae); */
  background-image: url("../../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.banner > h1 {
  margin: 3vmax;
  font: 600 2.5vmax "Robot";
  color:#333
}
.banner > p {
  font: 300 1.4vmax "Comforter Brush", cursive;
  color:#333
}
.banner > a > button {
  width: 9vmax;
  padding: 1vmax;
  border-radius: 0px;
  font: 500 1vmax "Roboto";
  background-color: white;
  transition: all 0.5s;
  border: 1px solid white;
  margin-bottom: 5vmax;
  margin-top: 3vmax;
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 74%, 0% 100%, 100% 100%);
  max-width: 100%;
}
.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgba(0, 0, 0, 0.7);
}
.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 2vmax;
  color: rgba(48, 48, 48);
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
.container {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2vmax auto;
  max-width: 100%;
}
.productCard > img {
  width: 14vmax;
}
.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.productCard > div > span {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}
.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}
.productCard > span {
  margin: 0.5vmax;
  font-size: 1vmax;
  color: tomato;
  font-weight: bold;
}
.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }
  .productCard > div {
    margin: 0vmax;
    display: block;
  }
  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
